DEBUG=true
LOG_LEVEL=INFO
LOG_FORMAT=console

RESENHA_JID=0000000000000-0000000000@g.us
RESENHA_TEST_LID=0000000000000@g.us
RESENHAZORD2_JID=0000000000000@s.whatsapp.net

MONGODB_URI='mongodb+srv://<username>:<password>@<clustername>.mongodb.net/<dbname>?retryWrites=true&w=majority'
MONGODB_DB_NAME=resenhazord2
UPSTASH_REDIS_REST_URL=https:// <your-upstash-redis-endpoint >.upstash.io
UPSTASH_REDIS_REST_TOKEN=abcdefghijklmnopqrstuvwxyz1234567890

GEMINI_API_KEY=Abcderfgijklmnopqrstuvwxyz1234567890
BNET_ID=abcdefghijklmnopqrstuvwxyz1234567890
BNET_SECRET=abcdefghijklmnopqrstuvwxyz1234567890
TMDB_API_KEY=abcdefghijklmnopqrstuvwxyz1234567890
OMDB_API_KEY=
BIBLIA_TOKEN=abcdefghijklmnopqrstuvwxyz1234567890
JAMENDO_CLIENT_ID=abcdefghijklmnopqrstuvwxyz1234567890
RAWG_API_KEY=abcdefghijklmnopqrstuvwxyz1234567890
TWITCH_CLIENT_ID=abcdefghijklmnopqrstuvwxyz1234567890
TWITCH_CLIENT_SECRET=abcdefghijklmnopqrstuvwxyz1234567890
NHENTAI_MIRROR_URL=
DISCORD_TOKEN=
DISCORD_SERVER_GUILD_ID=
DISCORD_DRIVE_GUILD_ID=
DISCORD_APP_ID=
SENTRY_DSN=
SENTRY_TOKEN=
