services:
  app:
    build: .
    volumes:
      - .:/app
    tty: true
    working_dir: /app
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pidof node || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s