services:
  bot:
    container_name: bot
    image: ghcr.io/sandrosmarzaro/resenhazord2:latest
    build: .
    env_file: .env
    tty: true
    working_dir: /app
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'pidof bun || exit 1']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
